<form action="" method="POST" enctype="application/x-www-form-urlencoded">
    <div>
        <label for="pageKey">Page Key:</label>
        <input name="pageKey" />
    </div>
    <div>
        <label for="title">Title:</label>
        <input name="title" />
    </div>
    <div>
        <label for="shownInMenu">In Menu: </label>
        <input type="checkbox" name="shownInMenu" />
    </div>
    <div>
        <label for="menuOrder">Menu Order: </label>
        <input type="number" name="menuOrder" />
    </div>

    <div>
        <h2>HTML</h2>
        <textarea name="content"></textarea>
    </div>
    <input type="submit" value="Save" />
</form>