body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

#login label {
  display: block;
}

code {
  display: block;
}

#login input[type="text"],
#login input[type="password"] {
  width: 100px;
}

header {
  background-color: #fd0;
  font-size: 3em;
  text-align: center;
}

nav {
  background-color: #ebc76a;
}

main {
  padding: 0 8px;
  flex-grow: 1;
}
#nav-menu {
  margin: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
#nav-menu > li {
  padding: 10px 0;
}
#nav-menu a {
  text-decoration: none;
  color: #ff1c05;
}

header > span {
  display: none;
}

footer {
  background-color: #fd0;
  padding: 0 4px;
}

@media (max-width: 160px) {
  #nav-menu {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) {
  #main-cont {
    display: flex;
  }
  header > span {
    display: inline;
  }
  #nav-menu {
    grid-template-columns: 1fr;
  }

  #nav-menu > li {
    padding: 5px;
  }
}
